.content{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0EBBDA;
    border-radius: 10px;
    padding: 1rem;
    margin:2rem auto;
    min-height:55vh;
}
.content h1{
    padding: 3rem;
}
.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.texts{
    display: flex;
    width: 90%;
    height: 2rem;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin: 0.2rem;
    font-size: 1.2rem;
}
.texts:nth-last-child(1){
    justify-content: flex-start !important;
}
.error-message{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.3rem 0 0.5rem;
    margin-top: 1.4rem;
    color: red !important;
    font-size: 1.1rem;
}
.user-info{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input{
    display: flex;
    width: 90%;
    height: 3.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;
    border: 1px solid #0EBBDA;
    border-radius: 10px;
    margin: 0.8rem;
    font-size: 1.1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    float: right;
    width: 90%;
    height: 4rem;
    background: white;
    color: #0EBBDA;
    border: 1px solid #0EBBDA;
    cursor: pointer;
}
.btn:hover{
    background: #0EBBDA;
    color: white;
    border: 1px solid white;
}